.footer {
    padding: 40px 0;
    background-color: #333333;

    //Медиа запрос для планшетов и выше
    @media (min-width: 768px) {
        padding: 45px 0;
    }
    
//Медиа запрос для десктопов
    @media (min-width: 1200px) {
        padding: 28px 0;
    } 
}

.copywrite p {
    margin: 0;
    font-size: 16px;
    color: #b0b0b0;
    line-height: 1.2;
    margin-bottom: 12px;

    &:first-child {
        color: rgb(255, 255, 255);
        margin-bottom: 24px;
    }

    //Медиа запрос для планшетов и выше
    @media (min-width: 768px) {
        font-size: 16px;
    }
    
//Медиа запрос для десктопов
    @media (min-width: 1200px) {
        font-size: 18px;
    } 
}

.copywrite a {
    color: #6d6d6d;
    transition: .5s;

    &:hover {
        color: #fff;
    }
}

// .navigation-dots {    
//     right: 0;
//     top: 50%;
//     transform: translateY(-50%);
//     position: fixed;
//     width: 40px;
//     height: 120px;    
//     display: flex;
//     flex-direction: column;
//     align-items: center;    
   
// }

// .navigation-dots a {
//     cursor: pointer;
// }

// .a {    
//     display: flex;    
//     width: 12px;
//     height: 12px;
//     border-radius: 50%;
//     background-color: #73b7ce;    

//     &:first-child {
//         margin-top: 15px;
//     }

//     &:hover {
//         background-color: #ff746d; 
//     }
// }

#page-nav li {
    width: 12px;
    height: 12px;
    list-style-type: none;
    border-radius: 50%;
    background-color: #73b7ce;    
    margin-bottom: 15px;
    transition: .5s;
    display: none;

    //Медиа запрос для планшетов и выше
        @media (min-width: 1200px) {
            display: flex;
    }
        
 
}

#page-nav li a {
    display: block;
    height: 100%;
    cursor: pointer;
    width: 100%;
}

#page-nav li.active {
    background-color: #ff746d;
}

#page-nav {
    display: none;
    position: fixed;
    padding-left: 0;
    top: 50%;       
    transform: translateY(-50%);
    flex-direction: column;
    right: 35px;
    z-index: 10;

    //Медиа запрос для планшетов и выше
        @media (min-width: 1200px) {
            display: flex;
    }
}

.mix {
    display: none;
}

.error {
    font-size: 16px;
    color: #ff746d;
    margin-bottom: 5px;
}

#backTop a {
    position: fixed;
    left: 25px;
    bottom: 40px;
    font-size: 54px;
    color: #4bff4b;

    //Медиа запрос для планшетов и выше
    @media (min-width: 1200px) {
        display: none;
}
}

.line_bg {
    background-image: url(../../img/bg_line.jpg);
    background-repeat: repeat-y;
}